**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.dvi
**/*.log
**/*.out
**/*.toc
**/*.lof
**/*.lot
**/*.fls
**/*.run.xml
**/*.fdb_latexmk
**/*.synctex.gz
*.toc
*.log
*.out
*.lot
*.bbl
*.lof
*.ist
*.aux
*.synctex.gz
